
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #00A99D;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #00A99D;
}

.md-tag.tutorial-machine {
    line-height: 1.4em;
    margin-bottom: 0.2em;
    cursor: help;
}
